<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="hamitak.ir"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="23"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
	<application
		android:icon="@drawable/icon"
		android:label="حامی تک"
		android:theme="@style/MyAppTheme">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="حامی تک"
			android:screenOrientation="portrait">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".verify_ac"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".firsactivity"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".home"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".service_ac"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".profile_ac"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".services_ac"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".description_ac"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".sefaresh_ac"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".sefareshat_ac"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".login"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".homepage_ac"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmlocation"
			android:label="حامی تک"
			android:screenOrientation="portrait">
		</activity>
		<service android:name="anywheresoftware.b4a.samples.httputils2.httputils2service">
		</service>
		<receiver android:name="anywheresoftware.b4a.samples.httputils2.httputils2service$httputils2service_BR">
		</receiver>
	</application>
</manifest>